<ion-header>
  <ion-toolbar #titulo3 color="primary">
    <ion-title>Datos alumno</ion-title>
  </ion-toolbar>
</ion-header>
<!-- Comienza el Content -->
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
      <h1>Bienvenido</h1>

    </ion-label>
  </ion-title>
  <b class="ion-text-center">
    <h4>Llene el formulario</h4>
    <div class="ion-padding-top ion-text-center">
      <img src='assets/icon/Pers.jpeg' style='width: 35% ; border: 2px solid black'>
      </div>

  </b>

  <ion-item class="ion-padding-horizontal">
    <ion-label position="stacked">Usuario</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.nombreUsuario"></ion-input>
  </ion-item>

  <ion-item class="ion-padding-horizontal">
    <ion-label position="stacked">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="usuario.password"></ion-input>
  </ion-item>

  <ion-item class="ion-padding-horizontal">
    <ion-label position="stacked">Repite contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="usuario.password2"></ion-input>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-button shape="block" (click)="limpiarFormulario()">
          Limpiar
        </ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button shape="block" (click)="guardarPost()">
          Mostrar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>
<!-- Termina el Content -->
